body {
    height: 100vh;
    background-image: url("https://sso.ki.agh.edu.pl/auth/resources/tcrgl/login/ki-v2-with-pwreset/img/bg-login.jpg");
}

.bg {
    background-color: white;
    width: 60%;
    padding: 2vh;
    border-radius: 1vh;
    top: 33vh;
    margin: 0vh;
}

h2 {
    text-align: center;
}

.button {

    display: flex;
    justify-content: center;
}